/* Fonts google ubuntu */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
/* Fim font ubuntu */
 @import url("https://boxicons.com/icons/linkedin?s=regular&w=normal&f=false&q=link&p=brands")

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background-color: black;
  color: white;
}

.nome__site {
  margin-left: calc(5% - 20px);
}

.txt__neon {
  color: #ff0000; /* vermelho principal */
  text-shadow:
    0 0 5px #ff0000,
    0 0 10px #ff0000,
    0 0 20px #ff0000,
    0 0 40px #ff0000,
    0 0 80px #ff0000;
}

.header,
.cabecalho {
  background-color: rgb(8, 8, 8);
}

.cabecalho__menu {
  width: calc(100% - 40px);
  height: 70px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.cabecalho__menu__lista {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  
}

.cabecalho__menu__lista li {
  margin: 0 80px; /* margin: eixo_y eixo_x */
  a{ 
    text-decoration: none;
    color:#ff0000 ;

  }
}

.apresentacao {
  margin: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.apresentacao__conteudo {
  width: 615px;
}

.apresentacao__conteudo__titulo {
  font-family: "ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
  line-height: 1;
  font-size: 42px;
  width: 300px;
}

.apresentacao__conteudo__subtitulo {
  font-family: "ubuntu", sans-serif;
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
}

.apresentacao__conteudo__texto {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 16px;
  width: 600px;
  margin: 10px 0;
  padding: 2px;
}